@import '../style/app.scss';
.mastersetting {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
    }
    .ant-table-wrapper {
        padding-top: 60px;
    }
}

.type-of-student-list {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
    }
    .ant-table-wrapper {
        padding-top: 60px;
    }
}

.add-new-student-type-button {
    float: right;
}
