@import "../../style/app.scss";

.add-report {
    &__note-description {
        resize: none;
    }
}

.report-list {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    &__header {
        display: inline;
    }
    &__month-picker {
        float: right;
    }
    &__add-report-button {
        border-radius: 15px;
        padding: px 10px;
        // margin-left: 900px;
        float: right;
        margin-right: 10px;
        a {
            color: $white-color;
        }    
    }
    &__all-achievement-table {
        .ant-table-thead > tr > th {
            text-align: center;
            background-color: #aba;
        }
        .ant-table-tbody > tr > td {
            text-align: center;
        }
    }
    &__my-report {
        .ant-table-thead > tr > th {
            background-color: #aba;
        }
    }
    &__show-comment-button {
        button,
        button:disabled,
        button:active,
        button[disabled] {
            background-color: #aba;
            border: none;
        }
        button:hover, button[disabled]:hover,         
        button:focus {
            background-color: #aba;
            border: none;
            color: rgb(56, 150, 35);
        }
    }
}