@import "../style/app.scss";
.class-list {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
  }
  .add-class-button {
    margin-top: 5px;
    float: right;
  }
  .ant-table-wrapper {
    padding-top: 20px;
  }
  &__search {
    width: 30%;
    float: right;
  }
}

.set-monitor {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
  }
}

.add-class {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
}

.class-detail {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
    float: left;
  }
  .label-text {
    align-content: right;
  }
  &__more-option {
    float: right;
    background-color: $primary-color;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: $title-font-weight;
    .ant-dropdown-link {
      color: #fff;
    }
  }
  &__info-area {
    position: relative;
  }
  &__delete-class {
    color: $danger-color;
  }
  &__add-lesson {
    margin: 10px;
    float: right;
  }
}

.edit-class {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
}

.text-in-table-row {
  color: #000;
}
