@import '../../components/app.scss';
.mastersetting {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
    }
    .ant-table-wrapper {
        padding-top: 60px;
    }
    &__close-icon {
        color: $danger-color;
    }
    &__form {
        margin-top: 15px;
    }
    &__list {
        &--title {
            font-size: $sub-title-font-size;
            font-weight: $title-font-weight;
            color: $primary-color;
            margin-left: 15px;
        }
        .ant-table-wrapper {
            padding-top: 60px;
        }
    }
    
}
