@import "react-big-calendar/lib/sass/styles";
@import "../style/app.scss";
.dashboard {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
  }
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.show-lesson-detail {
    right: 15px;
    bottom: 15px;
    position: absolute;
}

.class-schedule {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
  }
  &__filter-input {
    width: 100%;
  }
}

.report-box {
  margin-bottom: 10px;
  padding: 10px;
  height: 175px;
  border-radius: 10px;
  position: relative;
  color: white;
  font-weight: bolder;
  &__class {
    background-color: $danger-color;
  }
  &__volunteer {
    background-color: $primary-color;
  }
  &__student {
    background-color: $success-color;
  }
  &__cv {
    background-color: $warning-color;
  }
  &__number {
    text-align: center;
    font-size: 28px;
  }
  p {
    margin-bottom: 0.3em;
  }
  ul {
    // list-style-type: none;
    padding: 0px 20px;
    margin: 0px;
  }
}
