@import "../style/app.scss";

.cv-list {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
  .ant-table-wrapper {
    padding-top: 60px;
  }
  &__search {
    width: 30%;
    float: right;
  }
  &__status {
    height: 30px;
    width: 160px;
    padding: 3px;
    border-radius: 25px;
    font-weight: bolder;
    text-align: center;
  }
}

.cv-detail {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
  &__scale-button {
    button,
    button:hover,
    button:disabled,
    button[disabled],
    button[disabled]:hover {
      border: none;
      background-color: white;
    }
  }
  &__scale {
    margin: auto;
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  &__status {
    .ant-btn {
      // height: 30px;
      // width: 170px;
      // border-radius: 25px;
      // font-weight: bolder;
      text-align: center;
      // background-color: $pending-color;
      &--pending {
        .ant-btn {
          background-color: $pending-color;
          border: none;
        }
      }
      &--waiting {
        .ant-btn{
          background-color: $waiting-color;
          border: none;
        }
      }
      &--fail {
        .ant-btn{
          background-color: $fail-color;
          border: none;
        }
      }
      &--pass {
        .ant-btn{
          background-color: $pass-color;
          border: none;
        }
      }
    }

    .ant-btn-group > .ant-btn:first-child:not(:last-child),
    .ant-btn-group > span:first-child:not(:last-child) > .ant-btn {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    .ant-btn-group > .ant-btn:first-child:not(:last-child),
    .ant-btn-group > span:first-child:not(:last-child) > .ant-btn::after {
      color: black;
    }
    .ant-dropdown-button.ant-btn-group > .ant-btn:last-child:not(:first-child) {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    .ant-dropdown-button.ant-btn-group
      > .ant-btn:last-child:not(:first-child)::after {
      color: black;
    }
  }
  &__show-detail {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
}

.upload-cv {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
    text-align: center;
  }
  &__form {
    width: 70%;
    height: 480px;
    margin: auto;
    justify-content: center;
  }
  &__submit-button {
    float: right;
    &--disable {
      background-color: $disable-color;
      border-color: $disable-color;
    }
  }
  &__file-upload {
    margin: auto;
  }
  &__file-error {
    color: $danger-color;
    padding: 5px;
    margin: auto;
  }
  &__button-next {
    float: right;
  }
  &__button-prev {
    float: left;
  }
  &__free-time-table {
    .ant-table-tbody > tr > th,
    .ant-table-tbody > tr > td {
      text-align: center;
    }
  }
  &__note-text {
    resize: none;
  }
}

.thanks-page {
  padding: 100px 0;
  text-align: center;
  font-size: $title-font-size;
}
.ant-table-thead > tr > th {
  .anticon-filter,
  .ant-table-thead > tr > th .ant-table-filter-icon {
    right: auto;
  }
}

.all-page-container {
  border: double black;
  height: 100%;
  max-height: 550px;
  overflow: auto;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: white;
  border-color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  background-color: white;
  border-color: black !important;
}

.set-interview-form {
  > .ant-form-item {
    margin-bottom: 0px;
  }
}