@import '../../../style/app.scss';
.admin-list {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    .ant-table-wrapper {
        padding-top: 60px;
    }
    &__search {
        width: 30%;
        float: right;
    }
}
