// color
$primary-color: #096aaa;
$success-color: #219e6e;
$warning-color: #e2a534;
$danger-color: #ff4d4f;
$disable-color: #858383;
$white-color: #ffffff;
$pending-color: #e2a534;
$waiting-color: #4f9fd4;
$pass-color: #219e6e;
$fail-color: #858383;

// title
$title-font-size: 22px;
$title-font-weight: bolder;
$title-padding-bottom: 20px;
$sub-title-font-size: 18px;

// label
$label-font-weight: bolder;

// custom style
.custom {
  &__error-message {
    color: $danger-color;
    text-align: left;
    padding: 5px;
  }
  &__flash-message {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: $white-color;
    min-height: 50px;
    min-width: 300px;
    max-width: 300px;
    border: 2px;
    border-radius: 5px;
    padding: 20px;
    &--success {
      background-color: $success-color;
    }
    &--warning {
        background-color: $warning-color;
    }
    &--error {
        background-color: $danger-color;
    }
    &--icon {
        float: left;
    }
  }
}
