@import "../../style/app.scss";

.profile {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
  &__left-block {
    display: block;
    float: left;
    text-align: center;
  }
  &__right-block {
    display: block;
    float: right;
    padding: 50px;
  }
  &__avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 20px;
  }
  &__change-password {
    .ant-modal-content {
      width: 700px;
    }
  }
  .ant-row .ant-form-item {
    margin: 0px;
  }
}

.edit-profile {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
  &__input-address-select-form {
    .ant-select {
      display: inline-block;
      width: calc(33% - 12px);
    }
  }
  &__input-address-center-form {
    margin: 0px 20px;
  }
}

.disable-submit-button {
  background-color: $disable-color;
  border-color: $disable-color;
}

.error {
  &__modal-error {
    color: $danger-color;
  }
}
