@import '../../../style/app.scss';
.volunteer-list {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    .add-volunteer-button {
        margin-top: 5px;
        float: right;
    }
    .ant-table-wrapper {
        padding-top: 20px;
    }
    &__search {
        width: 30%;
        float: right;
    }
}

.add-volunteer {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
}

.volunteer-detail {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    &__left-block {
        display: block;
        float: left;
        text-align: center;
    }
    &__right-block {
        display: block;
        float: right;
        padding: 50px;
    }
    &__avatar {
        border-radius: 50%;
        height: 200px;
        margin: 20px;
    }
    .ant-row .ant-form-item {
        margin: 0px;
    }
}

.edit-volunteer {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
}

.ant-form-item-label {
    font-weight: $label-font-weight;
}