@import '../../../style/app.scss';
.student-list {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    .add-student-button {
        margin-top: 5px;
        float: right;
    }
    .ant-table-wrapper {
        padding-top: 20px;
    }
    &__search {
        width: 30%;
        float: right;
    }
}

.add-student {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    &__input-address-select-form {
        .ant-select {
            display: inline-block;
            width: calc(33% - 12px);
        }
    }
    &__input-address-center-form{
        margin: 0px 20px;
    }
}

.student-detail {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    &__left-block {
        display: block;
        float: left;
        text-align: center;
    }
    &__right-block {
        display: block;
        float: right;
        padding: 50px;
    }
    &__avatar {
        border-radius: 50%;
        height: 200px;
        margin: 20px;
    }
    &__description-area {
        margin: 0px 100px;
        textarea {
            resize: none;
        }
    }
    .ant-row .ant-form-item {
        margin: 0px;
    }
}

.edit-student {
    &__title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        color: $primary-color;
        padding-bottom: $title-padding-bottom;
    }
    &__input-address-select-form {
        .ant-select {
            display: inline-block;
            width: calc(33% - 12px);
        }
    }
    &__input-address-center-form{
        margin: 0px 20px;
    }
}

.ant-form-item-label {
    font-weight: $label-font-weight;
}