@import "../../style/app.scss";

.ant-modal-content {
  width: 100%;
  height: auto;
  max-height: 570px;
  top: -20px;
}

.comment-student {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
}
