@import "../../style/app.scss";
.add-lesson {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
  }
}

.lesson-detail {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
    float: left;
  }
  &__delete-lesson {
    color: $danger-color;
  }
  &__more-option {
    float: right;
    background-color: $primary-color;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: $title-font-weight;
    .ant-dropdown-link {
      color: #fff;
    }
  }

  &__paticipant-list-title {
    font-size: $sub-title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
    padding-bottom: $title-padding-bottom;
    float: left;
  }
  &__assign-button {
    float: right;
  }
}

.lesson-list {
  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $primary-color;
  }
}