@import "../../components/app.scss";

.notification {
    &__icon {
        color: white;
        font-size: 25px;
        padding: 10px 25px;
        margin-top: 10px;
    }
    &__content {
        border: 1px solid rgb(202, 199, 199);
        background-color: rgb(255, 244, 244);
        position: absolute;
        z-index: 5;
        top: 50px;
        left: -250px;
        width: 300px;
    }
    &__header {
        font-weight: $title-font-weight;
        color: $primary-color;
        &--unread {
            height: 15px;
            position: absolute;
            font-size: 8px;
            color: white;
            font-weight: bold;
            background-color: red;
            border-radius: 50%;
            padding: 3px;
            line-height: 8px;
            margin: 20px -20px;
        }
    }
    &__footer {
        text-align: center;
        &--active {
            font-weight: $title-font-weight;
            color: $primary-color;
        }
        &--deactive {
            font-weight: $title-font-weight;
            color: $disable-color;
        }
    }
    &__close-icon {
        float: right;
        > a {
            color: $primary-color;
        }
    }
}

.header {
    &__notification {
        margin-right: 30px;
        font-size: 17px;
        align-items: center;

        &--icon {
            text-align: center;
            line-height: 32px;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            cursor: pointer;
        }

        &--title {
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
            margin-top: -7px;
            align-items: center;
            button {
                font-weight: 900;
            }
        }

        &--unread {
            position: absolute;
            background-color: rgba(212, 19, 13, 1);
            color: #fff;
            border-radius: 50%;
            padding: 4px 4px;
            font: 8px Verdana;
            height: 15px;
            line-height: 8px;
        }

        .ant-popover {
            width: 320px;
            border-radius: 5px;
            top: 35px !important;

            .ant-popover-title {
                height: 40px;
                padding: 13px 0 13px 20px;
                line-height: 14px;
            }

            .ant-popover-inner-content {
                padding: 0 0 0 10px;
                min-height: 50px;
            }

            .ant-popover-arrow {
                display: none;
            }
        }
    }

    .selected {
        background-color: #EEEEEE;
    }
}

.infinite-container {
    height: 600px;
    overflow: auto;
}
